<%= form_with(model: house, local: true) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :駅名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :賃料 %>
    <span><%= form.text_field :price %>円</span>
  </div>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_field :adress %>
  </div>

  <div class="field">
    <%= form.label :築年数 %>
    <span><%= form.number_field :age %>年</span>
  </div>

  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_area :remarks %>
  </div>

    <%= form.fields_for :stations do |station_form| %>
    <h3>最寄り駅<%= station_form.index + 1 %></h3>
      <div class="field">
        <%= station_form.label :route, '路線名' %>
        <%= station_form.text_field :route %>
        <%= station_form.label :name, '駅名' %>
        <%= station_form.text_field :name %>
        <%= station_form.label :distance, '徒歩分数' %>
        <span><%= station_form.text_field :distance %>分</span>
      </div>
    <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
